---
name: codecov
on:
  push:
    branches:
      - master
jobs:
  codecov:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - run: sudo apt-get -y install plantuml
      - run: bundle update
      - run: bundle exec rake
      - uses: codecov/codecov-action@v4.0.0-beta.3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: coverage/.resultset.json
          fail_ci_if_error: true
